<section class="then-page">

  <div class="then-container">

    <!-- Opening -->
    <div class="opening-text">

      <p class="small-label">
        AND THEN...
      </p>

      <h1>
        I don't think either of us
        <br>
        knew what this would become.
      </h1>

    </div>


    <!-- Video -->
    <div class="then-video-wrapper">

      <video
        class="then-video"
        autoplay
        loop
        playsinline>

        <source
          src="assets/videos/then.mp4"
          type="video/mp4">

      </video>

    </div>


    <!-- Story after video -->
    <div class="closing-text">

      <p>
        Somewhere between all the
        conversations, arguments,
        laughs and little moments...
      </p>

      <p class="special-line">
        you slowly became someone
        <br>
        very special to me.
      </p>

    </div>


    <!-- Continue -->
    <button
      class="then-continue"
      (click)="continue()">

      There's more

      <span>↓</span>

    </button>

  </div>

</section>