<section class="birthday-page">

  <div class="birthday-content">

    <p class="birthday-small">
      Today is all about you
    </p>

    <h1>
      Happy Birthday
      <span>Beautiful ❤️</span>
    </h1>

    <p class="birthday-message">
      Another year of you being you...
      <br>
      And I'm really glad I get to be a part of it this time,
      <br>
      and I truly hope to be by your side for a lifetime. ❤️
    </p>

    <button
      class="continue-button"
      (click)="showMemories()">

      There's more...
      <span>↓</span>

    </button>

  </div>

</section>